body{
        padding: 0;
        margin: 0;
}

.nav_menu{
        width: 100%;
        height: 90px;
       
        
}
.nav_children{
        padding-left: 20px;
        padding-right: 20px;
        background-color: white;
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
}

#logo{
font-size: 30px;
font-weight: 700;
font-family: Verdana;
cursor: pointer;
}

.nav_list{
        list-style: none;
        display: flex;
        gap: 10px;
        font-size: 20px;
        font-family: sans-serif;
        cursor: pointer;
}
.hero{
        width: 100%;
        position: relative;
        /* display: flex; */
}
.hero_image{
        width: 100%;
        position: relative;
}
#hero_inner_image{
        width: 100%;
}
.hero_text{
        position: absolute;
        bottom: 150px;
        right: 100px;
        /* width:50%; */
}
#hero_inner_h2{
        font-size: 80px;
        color: tomato;
        text-transform: uppercase;
}
#hero_inner_p{
        font-size: 20px;
        color: white;
        font-family: Courier;
        text-transform: uppercase;
        font-weight: 500;
        margin-top:-60px ;
        text-align: center;
}
.cloth{
        width: 100%;
}
.cloth_section{
        width: 90%;       
        display: flex;
        margin-left: 100px;
        margin-top: 50px;
        justify-content: space-around;
}
.cloth_div{
        width: 300px;
        
}
text{
        font-size: 10px;
        text-align: center;
        
}
 h3 {
    margin-left: 30px;
}


.bubu-section{
        width: 90%;       
        display: flex;
        margin-left: 100px;
        margin-top: 50px;
        justify-content: space-around;
}

.bubu_div{
        width:300px;
}

.skirt-section{
        width: 90%;       
        display: flex;
        margin-left: 100px;
        margin-top: 50px;
        justify-content: space-around;
}

.skirt_div{
        width:300px;
}

.lower-section{
        width:100%;
        display:inline-flex;
        margin-left:60px;

}
.model:hover{
        transform: scale(1.5);
}


